/* Top Banner Style */
.top-banner {
   padding-top: 10%;
}
/*----------------------------------
 Image transition on Laptop Section
 -------------------------------------*/

.info .laptop-image {
   transition: 0.4s ease-in-out;
}

.laptop .laptop-image {
   transition: 0.4s ease-in-out;
}

.laptop .laptop-image:hover {
   transform: scale(1.1);
}

/*------------------------------
Transition Effect on Brand Section
------------------------------------- */
.branimg {
   transition: 0.4s ease-in-out;
}
.imgone .branimg:hover {
   transform: scale(1.2);
}

/*------------------------------
Footer Section Style
------------------------------------- */
footer {
   overflow: hidden;
}
.foot-bg {
   background-color: #212121;
   color: #b0b0b0;
}
.foot-bg dd a {
   text-decoration: none;
   color: #b0b0b0;
   font-size: small;
   font-family: ProximaNova, Arial, Sans-serif;
}

.footer-margin {
   padding-left: 6%;
   padding-bottom: 10%;
   padding-top: 5%;
}

.contact {
   font-size: large;
   font-family: ProximaNova, Arial, Sans-serif;
   color: #b0b0b0;
}

.foot-bg dd a:hover {
   color: white;
}
